body {
    /* background-color: gray; */
    background-image: url(images/mountain1.jpg);
    background-size: cover; /* 100% 100% */
}

h3 {
    color: aqua;
    background-color: blue;
}

p {
    background-color: blueviolet;
}

#paragraph {
    color: green;
    background-color: yellow;
}

div {
    background-color: red;
    opacity: 50%;
}
