.Card {
    display: flex;
    height: 300px;
    width: 180px;
    margin: 20px;
    background-color: #fff;
    border: 5px solid black;
    box-shadow: 0 0 0 7px #fff, 0 0 8px 5px #000;
    color: #000;
    padding: 10px;
    flex-direction: column;
    overflow: hidden;
}

.Card h2 {
    margin-bottom: auto;
}

.Card p {
    margin-top: auto;
    overflow: auto;
}

.Home {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    overflow-x: auto;
}