h1 {
    border: 2px solid tan;
    border-radius: 5px;
}

p {
    padding: 10px;
    border-style: solid; /* solid, dotted, dashed, double, groove, ridge, inset, outset, none, hidden */
    border-width: 5px; /* thin, medium, thick, 1px, 2px, 3px, 4px, 5px */
    border-color: springgreen;
    border-bottom-left-radius: 20px;
}