h1 {
    color: green; /* set the text color is green */
    font-size: 28px; /* set font size to 28px */
}

p {
    color: blue; /* set the text color is blue */
    font-size: 20px; /* set font size to 20px */
}