a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.visited:visited {
    color: #9900cc;
}

.hover:hover {
    color: #ff6600;
}

.active:active {
    color: #cc0000;
}

.custom-link {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    background-color: #ffc107;
    padding: 8px 16px;
    border-radius: 5px;
}
.custom-link:hover {
    background-color: #ff6600;
    color: white;
}