ol {
    background-color: #ff9999;
    list-style-type: decimal;
    color: blue;
    padding: 20px;
}

ul {
    background-color: #3399ff;
    padding: 20px;
}


ol li {
    background: #ffe5e5;
    color: darkred;
    padding: 5px;
    margin-left: 35px;
}

ul li {
    background: #cce5ff;
    color: darkblue;
    margin: 5px;
}