/* .equal-padding {
    padding: 20px;
}
.individual-padding {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 5px;
} */

div {
    width: 300px;
    padding: 25px;
    box-sizing: border-box;
}